.body {
  background-color: white;
}

.title {
  font-family: "Alata", sans-serif;
  text-align: center;
}

.fancy-line {
  background: #bea67c;
  height: 4px;
  width: 48px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  text-align: center;
  word-wrap: break-word;
}

.videos {
  align-content: center;
  display: flex;
  justify-content: center;

  .video {
    width: 100%;
    text-align: center;
    .videobg-one {
      background: url(/assets/images/videoOne.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 256px;
      height: 256px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 28px;
    }
    .videobg-two {
      background: url(/assets/images/videoTwo.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 256px;
      height: 256px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 28px;
    }
    .videobg-three {
      background: url(/assets/images/videoThree.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 256px;
      height: 256px;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 28px;
    }
  }

  .fancy-line {
    background: #bea67c;
    height: 2px;
    width: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}
