<p>section-quality works!</p>

<div class="title">
  <h1>WOODER - IS QUALITY</h1>
</div>

<div class="fancy-line"></div>

<div class="text">
  <p>
    We create unique design objects made from rare wood, specially under the
    order. <br />
    Look at the short video about our work.
  </p>
</div>

<div class="videos">
  <div class="video">
    <img src="/assets/images/videoOne.png" alt="video" class="videoOne">
    <div class="fancy-line"></div>
    <p>Innovative Design</p>
  </div>

  <div class="video">
    <div class="fancy-line"></div>
    <p>High-level Skills</p>
  </div>

  <div class="video">
    <div class="fancy-line"></div>
    <p>Quality Products</p>
  </div>
</div>
