<p>section-quality works!</p>

<div class="title">
  <h1>WOODER - IS QUALITY</h1>
</div>

<div class="fancy-line"></div>

<div class="text">
  <p>
    We create unique design objects made from rare wood, specially under the
    order. <br />
    Look at the short video about our work.
  </p>
</div>

<div class="videos">
  <div class="video">
    <div class="videobg-one">
    </div>
    <div class="fancy-line"></div>
    <p>Innovative Design</p>
  </div>

  <div class="video">
    <div class="videobg">
      <img src="/assets/images/videoTwo.png" alt="video" class="video-two" />
      <img src="/assets/images/yellowCircle.png" alt="" class="yellow-circle" />
      <img src="/assets/images/playButton.png" alt="" class="play-button" />
    </div>
    <div class="fancy-line"></div>
    <p>High-level Skills</p>
  </div>

  <div class="video">
    <div class="videobg">
      <img src="/assets/images/videoThree.png" alt="video" class="video-three" />
      <img src="/assets/images/yellowCircle.png" alt="" class="yellow-circle" />
      <img src="/assets/images/playButton.png" alt="" class="play-button" />
    </div>
    <div class="fancy-line"></div>
    <p>Quality Products</p>
  </div>
</div>
