nav {
  position: fixed;
  top: 0;
  left: 0;

  width: calc(100% - var(--offset-4x) * 2);
  padding: var(--offset-4x);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;

  font-family: "Varela Round", sans-serif;
  
  color: var(--color-text-white);
  
  a {
    color: var(--color-text-white);
    text-decoration: none;
    cursor: pointer;
    
    &:hover {
      filter: var(--filter-hover);
      transition: var(--transition-filter-hover);
    }
  }

  div {
    width: 100%;
  }

  .menu-button {
    display: flex;
    align-items: center;
    i {
      margin-right: 8px;
      font-size: 24px;
    }
  }

  .logo {
    text-align: right;
    padding-right: 48px;
    
    img {
      height: 100%;
    }
  }

  .links {
    display: flex;
    padding-left: 48px;
    justify-content: space-between;
    width: 133%;
  }

  .actions {
    text-align: right;
    
    i {
      font-size: 18px;
    }
    
    .link {
      margin-left: 24px;
    }
  }
}

@media screen and (max-width: 1280px) {
  nav {
    .logo {
      text-align: center;
      padding-right: 0;
    }
    .links {
      display: none;
    }
  }
}
