<nav>
  <div class="menu-button">
    <i class="fas fa-bars"></i>
    <span class="text">MENU</span>
  </div>
  <div class="logo">
    <img src="assets/images/navbar/logo.png" alt="Wooder">
  </div>
  <div class="links">
    <a class="link">HOME</a>
    <a class="link">PRODUCTS</a>
    <a class="link">ABOUT</a>
  </div>
  <div class="actions">
    <a href="#" class="link"><i class="fas fa-info-circle"></i></a>
    <a href="#" class="link">EN <i class="fas fa-chevron-down"></i></a>
  </div>
</nav>
