nav {
  padding: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;

  div {
    width: 100%;
  }

  .menu-button {
    display: flex;
    align-items: center;
    i {
      margin-right: 8px;
      font-size: 24px;
    }
  }

  .logo {
    text-align: right;
    padding-right: 48px;
    .text {
    }
  }

  .links {
    display: flex;
    padding-left: 48px;
    justify-content: space-between;
  }
}
