.main{
    display: flex;
    justify-content: center;
    align-items: center;

    .nameStars{
        display: flex;
        align-items: center;

        .stars{
            margin-left: auto;
            padding: 10px;
        }

        .reviews{
            padding: 10px;
        }

        .fa-star{
            color: gold;
        }
    }

    p{
        font-size: 20px;
        word-wrap: break-word;
    }

    .fa-minus-square{
        font-size: 60px;
    }

    .fa-square{
        font-size: 60px;
    }

    .fa-plus-square{
        font-size: 60px;
    }

    .info{

        display: flex;
        align-items: center;

        .undo{
            margin-left: auto;
            margin-right: auto;
        }

        .fa-undo{
            font-size: 60px;
        }
        
        .circle{
            margin-left: auto;
            margin-right: auto;
        }

        .fa-circle{
            font-size: 60px;
        }
        
        .truck{
            margin-left: auto;
            margin-right: auto;
        }

        .fa-truck{
            font-size: 60px;
        }
    }
}

