<p>
  product works! With id: {{ id }}
  {{ photo | json }}
</p>
<!-- http://localhost:4200/item/1 -->

<div class="main">
  <div class="image">
      <img src="/assets/images/product/Wood Template.jpeg">
  </div>

  <div class="text">
    <div class="nameStars">
      <h1>Not Sophia</h1>
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>      
        <i class="fas fa-star"></i>
      </div>
      <div class="reviews">
        <p>29 reviews</p>
      </div>
    </div>
    <p>Nebulizer</p>
    <p>Handmade ceramic and oak wood</p>
    <p>-</p>
    <p>Loved for its waterless operation and potent aroma, NOT SOPHIA enhances your home without you even noticing it.</p>
    <h2>$100.00</h2>
    <div class="buy">
      <i class="far fa-minus-square"></i>
      <i class="far fa-square"></i>
      <i class="far fa-plus-square"></i>
    </div>
    <br>
    <div class="info">
      <div class="undo">
        <i class="fas fa-undo"></i>
        <p class="infoText">30 Day Return</p>
      </div>
      <div class="circle">
        <i class="far fa-circle"></i>
        <p class="infoText">1 Year Warranty</p>
      </div>
      <div class="truck">
        <i class="fas fa-truck"></i>
        <p class="infoText">Free 4 Day Shipping</p>
      </div>
    </div>
  </div>
</div>
