<!-- http://localhost:4200/item/1 -->

<div class="main">
  <div class="image-wrapper">
    <img class="product-image" [src]="photo.url">
  </div>

  <div class="details">
    <div class="header">
      <h1 class="title">{{photo.title}}</h1>
      <div class="rating">
        <i *ngFor="let starValue of starValues" class="fa-star" [ngClass]="{
          'fas': starValue === 1,
          'far': starValue === 0
        }"></i>
        <span class="rating-text">29 reviews</span>
      </div>
    </div>

    <div class="desc">
      Something Something Something Something
    </div>

    <div class="price">
      $100.00
    </div>

    <div class="cart-row">
      <div class="counter">
        <button>-</button>
        <input type="number" name="" id="">
        <button>+</button>
      </div>

      <button><i class="fas fa-plus"></i> Add to cart</button>
    </div>
  </div>
</div>
