.main{
    display: flex;
    justify-content: center;
    align-items: center;

    .nameStars{
        display: flex;
        align-items: center;

        .fa-star{
            color: gold;
        }
    }

    p{
        font-size: 20px;
        word-wrap: break-word;
    }

    .fa-minus-square{
        font-size: 60px;
    }

    .fa-square{
        font-size: 60px;
    }

    .fa-plus-square{
        font-size: 60px;
    }

    .fa-undo{
        font-size: 60px;
    }

    .fa-circle{
        font-size: 60px;
    }

    .fa-truck{
        font-size: 60px;
    }
}

