.main{
    display: flex;
    justify-content: center;
    align-items: center;

    .nameStars{
        display: flex;
        align-items: center;

        .fa-star{
            color: gold;
        }
    }

    p{
        font-size: 20px;
        word-wrap: break-word;
    }
}

