<div class="section">
    <div class="inner-block">
        <div class="container">
            <div class="text">
                <div class="title">
                    <div class="before-line">
                        <div class="inner"></div>
                    </div>
                    <h1>
                        WE DO THE DESIGN<br>
                        OF ANY COMPLEXITY
                    </h1>
                </div>

                <div class="desc">
                    <div class="before-line">
                        <div class="inner"></div>
                    </div>
                    <p>
                        Ahahahaha ANY COMPLEXITY? You are insane. What does that even mean? If someone submits a request for a design that has like over 9000 lines, I will not do it. I will not do a design even with 200, 100, 50, 20, 10 or 5 fancy lines. You know what? I won't do ANY FANCY LINES. I hate them. And if you'll give me one more design that has fancy lines, I won't like you anymore.
                    </p>
                </div>

                <div class="link">
                    <div class="before-line">
                        <div class="inner"></div>
                    </div>
                    <a href="#">
                        <i class="far fa-play-circle"></i>
                        <span>WATCH VIDEO</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>