.container {
    margin-top: 64px;
}


.category {
    display: flex;
    
    .text {
        display: flex;
        justify-content: center;
        flex-direction: column;

        h1 {
            letter-spacing: .25rem;
            font-weight: bold;
        }

        p {
            color: var(--color-text-d3);
        }

        a {
            padding: 16px 0;
            color: var(--color-text);
            letter-spacing: .2rem;
            font-weight: bold;
            text-decoration: none;

            .underline {
                width: 64px;
                height: 2px;
                margin-top: 8px;
                background: var(--color-accent);
            }
        }
    }
}