<div class="container">
    <div class="category">
        <div class="text">
            <div class="title">
                <h1>FURNITURE</h1>
            </div>

            <div class="desc">
                <p>
                    Wooder uses materials and that sort of thing. Do we even use wood? I have no idea actually... Maybe we just grind dinosaur bones and sell it to you as "wood". How should I know? I'm just a programmer and I have actually no idea why we chose this template with so many fancy lines
                </p>
            </div>

            <div class="link">
                <a href="#">
                    LEARN MORE <br>
                    <div class="underline"></div>
                </a>
            </div>
        </div>
        <div class="image">
            <img src="assets/images/section-categories/furniture.png" alt="furniture">
        </div>
    </div>
</div>