<div class="container">
    <div class="category">
        <div class="text">
            <div class="title">
                <div class="before-line">
                    <div class="inner"></div>
                </div>
                <h1>FURNITURE</h1>
            </div>

            <div class="desc">
                <div class="before-line">
                    <div class="inner"></div>
                </div>
                <p>
                    Wooder uses materials and that sort of thing. Do we even use wood? I have no idea actually... Maybe
                    we just grind dinosaur bones and sell it to you as "wood". How should I know? I'm just a programmer
                    and I have actually no idea why we chose this template with so many fancy lines
                </p>
            </div>

            <div class="link">
                <div class="before-line">
                    <div class="inner"></div>
                </div>
                <a href="#">
                    LEARN MORE <br>
                    <div class="underline"></div>
                </a>
            </div>
        </div>
        <div class="image">
            <img src="assets/images/section-categories/furniture.png" alt="furniture">
        </div>
    </div>

    <div class="category reverse">
        <div class="image">
            <img src="assets/images/section-categories/decor.png" alt="decor">
        </div>

        <div class="text">
            <div class="title">
                <h1>DECOR</h1>
                <div class="before-line">
                    <div class="inner"></div>
                </div>
            </div>

            <div class="desc">
                <p>
                    To be honest, I hate decor. I hate these fancy lines. They are everywhere. Please someone help me. I
                    am slowly losing my sanity. Fancy lines everywhere I go, everywhere I sleep. Even in dreams I see
                    fancy lines. I cannot escape from them. I have to align fancy lines until the heat death of the
                    universe
                </p>

                <div class="before-line">
                    <div class="inner"></div>
                </div>
            </div>

            <div class="link">
                <a href="#">
                    LEARN MORE <br>
                    <div class="underline"></div>
                </a>
                
                <div class="before-line">
                    <div class="inner"></div>
                </div>
            </div>
        </div>

    </div>
</div>