.hero{
    background: url(/assets/images/drevobackground.png);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .heading{
        h1{
            color: #bea67c;
            font-size: 100px;
            letter-spacing: 10px;
            font-weight: bold;
            margin: 10px;
        }
    }
    .button{
        display: flex;
        justify-content: left;
        button{
            border: 2px solid white;
            padding: 20px 100px ;
            background: transparent;
            color: white;
        }
    }
}
.fancyciara {
    background-color: var(--color-accent);
    width: 4px;
    height: 51px;
    position: absolute;
    top: 200px;
    left: 200px;
  }
   
