<div class="hero">
    <div class="center-wrapper">
        <div class="heading">
            <h1>WOODER</h1>
        </div>
        <div class="button">
            <a href="#"><button>LEARN MORE -----></button></a>
        </div>
        <div class="FancyMouseIcon">
            <img src="/assets/images/FancyMouseIcon.png" alt="FancyMouseIcon">
        </div>
        <div class="FancyArrow">
            <img src="/assets/images/FancySipka.png" alt="">
        </div>
        <div class="FancyScrollText">
            SCROLL
        </div>
    </div>
    <div class="fancyleftside">
        <div class="fancyciara"></div>
        <div class="fancytext">01</div>
        <div class="fancytextdots">•<span class="non-active">•••</span></div>
    </div>
</div>
        